$dark: #391400;
$dark_accent: #ef6d58;
$dark_gray: rgba(57, 20, 0, 0.64);
$light: #ffffff;
$light_accent: #ef6d58;
$light_gray: rgba(255, 255, 255, 0.64);
$background_gray: #f2f2f2;
$background-dark: #333333;
$light_orange: #f3d1bf;

$container: 80%;
$input_height: 40px;
$input_width: 500px;
$input_font_size: 18px;

///////////////// GENERAL RULES
///
aside {
  display: inline-block;
}

section {
  display: inline-block;
  width: calc(100% - 100px);
}

input {
  font-size: $input_font_size;
  height: $input_height;
  width: $input_width;
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
}
input:focus-visible {
  outline: none;
}

label {
  display: flex;
  flex-direction: row;
  width: $input_width;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 5px;
}

.page {
  display: flex;
}
///////////////// NAVIGATION
///

#navigation {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  .websiteMode {
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
    span {
      font-size: 60px;
      display: contents;
      svg path {
        fill: $dark;
      }
    }
  }
  .websiteMode:hover {
    color: $dark_accent;
    transition: all 300ms ease;
    span svg path {
      fill: $dark_accent;
      transition: all 300ms ease;
    }
  }

  a {
    text-decoration: none;
    color: $dark;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    span {
      font-size: 60px;
      svg path {
        fill: $dark;
      }
    }
  }

  a:hover {
    color: $dark_accent;
    transition: all 300ms ease;
    span svg path {
      fill: $dark_accent;
      transition: all 300ms ease;
    }
  }

  a:active {
    color: $light_orange;
    padding-top: 2px;
    transition: all 300ms ease;
    span svg path {
      fill: $light_orange;
      transition: all 300ms ease;
    }
  }
}

//////////   New Book
///

.newBook {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    input {
      margin-bottom: 30px;
      border-radius: 10px;
      border-style: inset;
      border-width: 1px;
      border-color: $dark_accent;
    }
    input:focus-visible {
      outline: $dark;
      border-width: 2px;
      transition: all 300ms ease;
    }
    button[type="submit"] {
      width: 200px;
      height: $input_height;
      border: 2px solid $dark_accent;
      border-radius: 20px;
      background: transparent;
      color: $dark_accent;
      font-size: 20px;
    }
    button[type="submit"]:hover {
      background: $dark_accent;
      color: $light;
      transition: all 300ms ease;
    }
    button[type="submit"]:active {
      box-shadow: 3px 3px 3px $dark_accent;
      transition: all 300ms ease;
    }
  }
}
////////////////////////////////////////
//////////    Book Page
//

.updateBtn {
  height: $input_height;
  border-radius: 20px;
  padding: 5px 30px;
  background: transparent;
  color: $dark;
  border: 2px solid $dark;
  font-weight: bold;
  margin: 0 auto;
}

.updateBtn:hover {
  color: $light;
  border: 2px solid $dark_accent;
  background: $dark_accent;
  transition: all 300ms ease;
}
.updateBtn:active {
  box-shadow: 3px 3px 3px $dark_accent;
  transition: all 300ms ease;
}
//////////    Book Details
///

.bookDetailsWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  padding: 20px;
  .bookDetailsHeading {
    grid-area: 1 / 1 / span 1 / span 10;
    margin-left: 100px;
  }
  .updateDelete {
    grid-area: 1 / 11 / span 1 / span 2;
    display: flex;
  }
  .largeHeroImageWrapper {
    grid-area: 2 / 1 / span 1 / span 6;
  }
  .bookDetailsData {
    grid-area: 2 / 7 / span 1 / span 5;
  }

  .bookDetailsHeading {
    .bookDetailsTitle {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: -10px;
    }
    .bookDetailsStatusLighter {
      opacity: 0.8;
      font-size: 18px;
    }
  }

  .updateDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    .deleteBook {
      border-radius: 20px;
      padding: 5px 30px;
      background: $dark_accent;
      color: $light;
      border: 2px solid $dark_accent;
      font-weight: bold;
      margin: 0 auto;
    }
    .deleteBook:hover {
      background: transparent;
      color: $dark;
      transition: all 300ms ease;
    }
    .deleteBook:active {
      box-shadow: 3px 3px 3px $dark_accent;
      transition: all 300ms ease;
    }
  }

  .largeHeroImageWrapper {
    margin-left: 100px;
    .largeHeroImage {
      height: 100%;
      width: 400px;
    }
  }

  .bookDetailsData {
    div > span {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.btnWrapper {
  width: 100%;
  display: flex;
}

.bookDetailsDataItem {
  margin-bottom: 10px;
}