a {
  text-decoration: none;
}

aside {
  display: inline-block;
}

section {
  display: flex;
  margin-left: 100px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 18px;
  height: 40px;
  width: 500px;
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #391400;
}

input:focus-visible {
  outline: none;
}

label {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 5px;
}

.page {
  display: flex;
  justify-content: center;
}

#navigation {
  width: 100px;
  height: 100vh;
  z-index: 11;
}
#navigation .websiteMode {
  height: 80px;
  width: 80px;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
#navigation .websiteMode span {
  font-size: 60px;
  display: contents;
}
#navigation .websiteMode span svg path {
  fill: #391400;
}
#navigation .websiteMode:hover {
  color: #ef6d58;
  transition: all 300ms ease;
}
#navigation .websiteMode:hover span svg path {
  fill: #ef6d58;
  transition: all 300ms ease;
}
#navigation a {
  text-decoration: none;
  color: #391400;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#navigation a span {
  font-size: 60px;
}
#navigation a span svg path {
  fill: #391400;
}
#navigation a:hover {
  color: #ef6d58;
  transition: all 300ms ease;
}
#navigation a:hover span svg path {
  fill: #ef6d58;
  transition: all 300ms ease;
}
#navigation a:active {
  color: #f3d1bf;
  padding-top: 2px;
  transition: all 300ms ease;
}
#navigation a:active span svg path {
  fill: #f3d1bf;
  transition: all 300ms ease;
}

#navToggleBtn {
  position: fixed;
  background: transparent;
  border: none;
  z-index: 111111111111111120;
  top: 30px;
  left: 30px;
}
#navToggleBtn svg {
  height: 50px;
  width: 50px;
}

.hideNav {
  width: 0;
  height: 0;
  display: none;
}

.showNav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 30px;
  background: #ffffff;
  top: 0;
}

.newBook form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.newBook form input {
  margin-bottom: 30px;
  border-radius: 10px;
  border-style: inset;
  border-width: 1px;
  border-color: #ef6d58;
}
.newBook form input:focus-visible {
  outline: #391400;
  border-width: 2px;
  transition: all 300ms ease;
}
.newBook form button[type=submit] {
  width: 200px;
  height: 40px;
  border: 2px solid #ef6d58;
  border-radius: 20px;
  background: transparent;
  color: #ef6d58;
  font-size: 20px;
}
.newBook form button[type=submit]:hover {
  background: #ef6d58;
  color: #ffffff;
  transition: all 300ms ease;
}
.newBook form button[type=submit]:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}

.updateBtn {
  height: 40px;
  border-radius: 20px;
  padding: 5px 30px;
  background: transparent;
  color: #391400;
  border: 2px solid #391400;
  font-weight: bold;
  margin: 0 auto;
}

.updateBtn:hover {
  color: #ffffff;
  border: 2px solid #ef6d58;
  background: #ef6d58;
  transition: all 300ms ease;
}

.updateBtn:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}

.bookDetailsWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  padding: 20px;
}
.bookDetailsWrapper .bookDetailsHeading .bookDetailsTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -10px;
}
.bookDetailsWrapper .bookDetailsHeading .bookDetailsStatusLighter {
  opacity: 0.8;
  font-size: 18px;
}
.bookDetailsWrapper .updateDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookDetailsWrapper .updateDelete .deleteBook {
  border-radius: 20px;
  padding: 5px 30px;
  background: #ef6d58;
  color: #ffffff;
  border: 2px solid #ef6d58;
  font-weight: bold;
  margin: 0 auto;
}
.bookDetailsWrapper .updateDelete .deleteBook:hover {
  background: transparent;
  color: #391400;
  transition: all 300ms ease;
}
.bookDetailsWrapper .updateDelete .deleteBook:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}
.bookDetailsWrapper .largeHeroImageWrapper .largeHeroImage {
  height: 100%;
  width: 400px;
}
.bookDetailsWrapper .bookDetailsData div > span {
  font-weight: bold;
  font-size: 18px;
}
.bookDetailsWrapper .heroDataContainer {
  display: flex;
}

.btnWrapper {
  width: 100%;
  display: flex;
  margin: 50px auto 100px auto;
}

.bookDetailsDataItem {
  margin-bottom: 10px;
}

.books {
  box-sizing: border-box;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
.books .book a {
  max-height: 100%;
  width: auto;
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.books .book .heroWrapper {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.books .book .heroWrapper img {
  max-height: 400px;
  height: auto;
  width: 96%;
  margin: 0 2%;
  display: block;
}
.books .book .infoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}
.books .book .infoWrapper .topInfo {
  display: flex;
  justify-content: space-between;
}
.books .book .infoWrapper .bottomInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.books .book .infoWrapper .bottomInfo .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.books .book:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all 300ms ease;
}
.books .book:hover .bookLink {
  color: #ef6d58;
  transition: all 300ms ease;
}
.bookLink {
  color: #391400;
}

#loginPage, #registerPage {
  background-image: url("https://images.pexels.com/photos/762687/pexels-photo-762687.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1280&dpr=1");
}

#loginPage,
#registerPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#loginPage h1,
#registerPage h1 {
  text-align: center;
  margin: 0;
}

#loginFormContainer,
#registerFormContainer {
  padding: 30px;
  background: white;
  border-radius: 10px;
}
#loginFormContainer form,
#registerFormContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#loginFormContainer form input,
#registerFormContainer form input {
  margin-bottom: 20px;
}
#loginFormContainer button,
#registerFormContainer button {
  font-size: 18px;
  height: 40px;
  width: 500px;
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
  background: #391400;
  color: #ffffff;
  border-color: #391400;
}
#loginFormContainer button:hover,
#registerFormContainer button:hover {
  background: #ffffff;
  color: #391400;
  transition: all 300ms ease;
}
#loginFormContainer button:active,
#registerFormContainer button:active {
  background: #ffffff;
  color: #391400;
  box-shadow: 5px 5px 5px #391400;
  transition: all 300ms ease;
}

.line {
  font-weight: bold;
}
.line a {
  color: #391400;
}
.line a:hover {
  color: #ef6d58;
  transform: scale(1.05);
  transition: all 300ms ease;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

#notFoundPage {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}
#notFoundPage .errorCode,
#notFoundPage .errorName,
#notFoundPage #goHome {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#notFoundPage .errorCode {
  font-size: 180px;
  z-index: 11;
  color: #391400;
}
#notFoundPage .errorName {
  font-size: 50px;
  z-index: 111;
  color: #ef6d58;
}
#notFoundPage #goHome {
  padding-top: 120px;
  color: #ef6d58;
  z-index: 111111111111111120;
}
#notFoundPage #goHome:hover {
  color: #391400;
  transition: all 300ms ease-out;
}

#home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #391400;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
#home .homeIntro {
  background: #ffffff;
  border-radius: 10px;
  padding: 50px;
}
#home .homeIntro .loginMenu {
  gap: 30px;
  display: flex;
  font-size: 18px;
}
#home .homeIntro .loginMenu a {
  color: #ef6d58;
  font-weight: bold;
}
#home .homeIntro .loginMenu a:hover {
  color: #391400;
  transition: all 300ms ease;
}/*# sourceMappingURL=AppStyle.css.map */