a {
  text-decoration: none;
}

aside {
  display: inline-block;
}

section {
  display: inline-block;
  width: calc(100% - 100px);
}

input {
  font-size: 18px;
  height: 40px;
  width: 500px;
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
}

label {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 5px;
}

.page {
  display: flex;
}

#navigation {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#navigation .websiteMode {
  height: 80px;
  width: 80px;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
#navigation .websiteMode span {
  font-size: 60px;
  display: contents;
}
#navigation .websiteMode span svg path {
  fill: #391400;
}
#navigation .websiteMode:hover {
  color: #ef6d58;
  transition: all 300ms ease;
}
#navigation .websiteMode:hover span svg path {
  fill: #ef6d58;
  transition: all 300ms ease;
}
#navigation a {
  text-decoration: none;
  color: #391400;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#navigation a span {
  font-size: 60px;
}
#navigation a span svg path {
  fill: #391400;
}
#navigation a:hover {
  color: #ef6d58;
  transition: all 300ms ease;
}
#navigation a:hover span svg path {
  fill: #ef6d58;
  transition: all 300ms ease;
}
#navigation a:active {
  color: #f3d1bf;
  padding-top: 2px;
  transition: all 300ms ease;
}
#navigation a:active span svg path {
  fill: #f3d1bf;
  transition: all 300ms ease;
}

.newBook form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.newBook form input {
  margin-bottom: 30px;
  border-radius: 10px;
  border-style: inset;
  border-width: 1px;
  border-color: #ef6d58;
}
.newBook form input:focus-visible {
  outline: #391400;
  border-width: 2px;
  transition: all 300ms ease;
}
.newBook form button[type=submit] {
  width: 200px;
  height: 40px;
  border: 2px solid #ef6d58;
  border-radius: 20px;
  background: transparent;
  color: #ef6d58;
  font-size: 20px;
}
.newBook form button[type=submit]:hover {
  background: #ef6d58;
  color: #ffffff;
  transition: all 300ms ease;
}
.newBook form button[type=submit]:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}

.updateBtn {
  height: 40px;
  border-radius: 20px;
  padding: 5px 30px;
  background: transparent;
  color: #391400;
  border: 2px solid #391400;
  font-weight: bold;
  margin: 0 auto;
}

.updateBtn:hover {
  color: #ffffff;
  border: 2px solid #ef6d58;
  background: #ef6d58;
  transition: all 300ms ease;
}

.updateBtn:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}

.bookDetailsWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  padding: 20px;
}
.bookDetailsWrapper .bookDetailsHeading .bookDetailsTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -10px;
}
.bookDetailsWrapper .bookDetailsHeading .bookDetailsStatusLighter {
  opacity: 0.8;
  font-size: 18px;
}
.bookDetailsWrapper .updateDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookDetailsWrapper .updateDelete .deleteBook {
  border-radius: 20px;
  padding: 5px 30px;
  background: #ef6d58;
  color: #ffffff;
  border: 2px solid #ef6d58;
  font-weight: bold;
  margin: 0 auto;
}
.bookDetailsWrapper .updateDelete .deleteBook:hover {
  background: transparent;
  color: #391400;
  transition: all 300ms ease;
}
.bookDetailsWrapper .updateDelete .deleteBook:active {
  box-shadow: 3px 3px 3px #ef6d58;
  transition: all 300ms ease;
}
.bookDetailsWrapper .largeHeroImageWrapper {
  margin-left: 100px;
}
.bookDetailsWrapper .largeHeroImageWrapper .largeHeroImage {
  height: 100%;
  width: 400px;
}
.bookDetailsWrapper .bookDetailsData div > span {
  font-weight: bold;
  font-size: 18px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  margin: 50px auto 100px auto;
}

.bookDetailsDataItem {
  margin-bottom: 10px;
}

.books {
  box-sizing: border-box;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
.books .book a {
  max-height: 100%;
  width: auto;
  max-width: 300px;
  position: relative;
}
.books .book a .heroWrapper {
  max-height: 400px;
  height: auto;
  width: auto;
  max-width: 300px;
}
.books .book a .heroWrapper img {
  max-height: 400px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.books .book a .infoWrapper {
  display: flex;
  flex-direction: column;
}
.books .book a .infoWrapper .topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.books .book a .infoWrapper .bottomInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.books .book a .infoWrapper .bottomInfo .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.bookLink {
  color: #391400;
}

.bookLink:hover {
  color: #ef6d58;
  transform: scale(1.05);
  transition: all 300ms ease;
}/*# sourceMappingURL=AppStyle.css.map */